//this file has .html extension to enable html editor features during coding
'use strict';

(()=>{
  angular.module('zerionApp')

  .constant('homePageTableTemplate',
  `
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-stripped table-responsive">
          <thead>
            <tr>
              <td>Name</td>
              <td>Description</td>
              <td>Image Urls</td>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="(index,doc) in records">
              <td>{{doc.name}}</td>
              <td>{{doc.description}}</td>
              <td>{{doc.image_url}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  `)
})();
